<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/Style.css" rel="stylesheet" />
    @*<link href="~/css/Style.css" rel="stylesheet" />*@
    <title>@ViewData["Title"] - japfaProject internal pages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <style>
        td a {
            font-size: 14px;
            color: green;
        }
    </style>
</head>
<body>
   
    <header>

        <nav>
            <div class="logo">
                <p>Japfa</p>
            </div>

            <ul>
                <li>
                    <a href="https://localhost:44337/">Log Out</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="https://localhost:44337/user/index2">User</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="https://localhost:44337/customer">Customer</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="https://localhost:44337/product">Product</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="https://localhost:44337/vehicle">Vehicle</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="https://localhost:44337/PlaceOrder">Place Order</a>
                </li>
            </ul>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
           
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - japfaProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)*@
</body>
</html>
