@model japfaProject.Models.Vehicle_Master

@{
    ViewData["Title"] = "Create";
}

@*<h1>Add New</h1>*@
@*<head>
    <link href="~/css/Create.css" rel="stylesheet" />
</head>*@

<style>
    .row0{
        padding-left:500px;
    }
    .xt{
        width:300px;
    }
    .form-group1{
        width:300px;
    }
    .xyz{
        padding-left:500px;
    }
</style>


<div class="row row0">
    <div class="col-12 p-0 d-flex flex-column align-items-center justify-content-center">
        <form asp-action="Create" class="xt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleNo" class="control-label">Vehicle Number</label>
                <input asp-for="VehicleNo" class="form-control" />
                <span asp-validation-for="VehicleNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="VehicleType" class="control-label"> Type</label>
                @Html.DropDownListFor(x => x.VehicleType, new SelectList(ViewBag.list))
            <!--<select>
                <option value="Truck">Truck</option>
                <option value="Mini Truck">Mini Truck</option>
                <option value="Pick UP">Pick UP</option>-->
                @*<input asp-for="VehicleType" class="form-control" />*@
            <!--</select>-->
               
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleCapacity" class="control-label">Space Capacity</label>
                <input asp-for="VehicleCapacity" class="form-control" />
                <span asp-validation-for="VehicleCapacity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UserType" class="control-label"></label>
                <input asp-for="UserType" class="form-control" />
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>*@
           
        <div class="form-group">
            <label asp-for="UserId" class="control-label">User Id</label>
            <select>
                <option value="1">--</option>
            </select>
            @*<input asp-for="UserId" class="form-control" />*@
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="xyz">
    <a asp-action="Index">Back to List</a>
</div>

